<h1 class="display-1">Family Tree</h1>

<div class="d-flex flex-row w-auto mt-4 mb-3">
  <button class="btn btn-primary mr-1" (click)="load()" aria-label="Load tree">
    <i class="bi bi-arrow-clockwise"></i>
    Load
  </button>
  <div class="col-md-2 col-lg-2 ms-2"
  >
    <input type="number"
           name="generations"
           class="form-control"
           [defaultValue]="0"
           [(ngModel)]="tempNumber"
           min="0"
    >
  </div>
</div>

<app-horse-family-tree-node [generations]="numberOfGenerations" [horse]="horse"></app-horse-family-tree-node>
