
<div class="d-flex flex-row w-auto align-items-end">
  <h1 class="display-1">Details of Horse</h1>
  <span style="flex: 1"></span>
  <a class="btn btn-light mb-4" [routerLink]="['../../edit', horse.id]" aria-label="Edit Horse">
    <i class="bi bi-pencil"></i>
    Edit
  </a>
</div>
<form #form="ngForm">

  <div class="row">
    <!-- Start name and date of birth row -->
    <div class="mb-2 col-lg-6">
      <!-- When nesting rows, always make row > col-* > row. The Bootstrap classes do not work right when an element is both col* and row -->
      <div class="row">
        <label class="col-form-label text-md-end text-muted col-md-2 col-lg-4">
          Name
        </label>
        <div class="col-md-10 col-lg-8 col-form-label"
        >
          {{horse.name}}
        </div>
      </div>
    </div>
    <div class="mb-2 col-lg-6">
      <div class="row">
        <label class="col-form-label text-md-end text-muted col-md-2 col-lg-4">
          Date of Birth
        </label>
        <div class="col-md-10 col-lg-8 col-form-label"
        >
          {{dateOfBirthAsLocaleDate(horse)}}
        </div>
      </div>
    </div>
    <!-- End name and date of birth row -->
  </div>

  <div class="row">
    <!-- Start sex and owner row -->
    <div class="mb-2 col-lg-6">
      <div class="row">
        <label class="col-form-label text-md-end text-muted col-md-2 col-lg-4">
          Sex
        </label>
        <div class="col-md-10 col-lg-8 col-form-label"
        >
          {{horse.sex}}
        </div>
      </div>
    </div>

    <div class="mb-2 col-lg-6">
      <div class="row">
        <label class="col-form-label text-md-end text-muted col-md-2 col-lg-4">
          Owner
        </label>
        <div class="col-md-10 col-lg-8 col-form-label"
        >
          {{formatOwnerName(horse.owner)}}
        </div>
      </div>
    </div>
    <!-- End sex and owner row -->
  </div>

  <div class="row">
    <!-- Start mother and father row -->
    <div class="mb-2 col-lg-6">
      <div class="row">
        <label class="col-form-label text-md-end text-muted col-md-2 col-lg-4">
          Mother
        </label>
        <div class="col-md-10 col-lg-8 col-form-label"
        >
          {{formatHorseName(horse.mother)}}

        </div>
      </div>
    </div>

    <div class="mb-2 col-lg-6">
      <div class="row">
        <label class="col-form-label text-md-end text-muted col-md-2 col-lg-4">
          Father
        </label>
        <div class="col-md-10 col-lg-8 col-form-label"
        >
       {{formatHorseName(horse.father)}}
        </div>
      </div>
    </div>
    <!-- End mother and father row -->
  </div>


  <div class="row">
    <!-- No row and col-* here. We want this to always span the whole width. -->
    <label class="col-form-label text-md-end text-md-end text-muted col-md-2">
      Description
    </label>
    <div class="col-md-10 col-form-label"
    >
      {{horse.description}}
    </div>
  </div>

  <div class="mt-4 d-flex flex-row">
    <button type="button"
            class="btn btn-danger"
            (click)="delete(horse.id)"
    >
      <i class="bi bi-trash"></i>
      Delete
    </button>
    <span class="flex-grow-1"></span>
  </div>
</form>
